# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\01_Personnal\01-UQAC\Cours\01_Hivers_2021\Apprentissage machine pour la science des données\Travail_Pratique3\TP3_ChristianHudon_AlexRoberge\TP3_ML_Perceptron\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
